{% extends "template.html.twig" %}


{% block title %}{{ parent() }} | Admin | Modifier linscription{% endblock %}



{% block milieu %}
    <!-- Page Content -->

<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Admin | Modifier une inscription</p>
            </div>
            <div class="col-lg-10 text-left">

                <form method='POST' name='monForm' action=''>

                    <input type="hidden" name="idlinscription" id="content-admin" value='{{ afficheinscription.idlinscription }}'>
                    <div class="form-group">
                        <label for="utilisateur_idutilisateur">Nom de l'utilisateur</label>
                        <input type="text" class="form-control"  id="utilisateur_idutilisateur" readonly="readonly" placeholder="ici votre titre" value='{{ afficheinscription.lenomutilisateur }}' required name='utilisateur_idutilisateur'>
                    </div>
                    <div class="form-group">
                        <label for="lasession_idsession">Session</label>
                        <input type="text" class="form-control" id="lasession_idsession" readonly="readonly" placeholder="ici votre titre" value='{{ afficheinscription.lenom }}'  name='lasession_idsession'>
                    </div>

                    <div class="form-group">
                        <label for="debut">Debut</label>
                        <input type="date" class="form-control" name='debut' id="debut" placeholder="ici votre titre" value='{{ afficheinscription.debut }}'>
                    </div>
                    <div class="form-group">
                        <label for="fin">Fin</label>
                        <input type="date" class="form-control" name='fin' id="fin" placeholder="ici votre titre" value='{{ afficheinscription.fin }}'>
                    </div>


                    <br>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
                <h3>{{ error }}</h3>
            </div>
        </div>
</main>


{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}